body {
    /*background-color:#27D3BE ;*/
    background-image: url(img/backgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: "Roboto Condensed";
    font-size: 5em;
    text-align: center;
}
marquee {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 24px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    background-color: gray;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navbar{
    position: absolute;
    width: 60%;
    left: 20%;
    right: 20%;
    height: 50%;
    top: 30%;
}
.button
{
	display: block;
    margin:  10px auto;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 700;
    max-width: 370px;
	min-height: 20px;
	text-align: center;
    color: black;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 4px;
    background: #fdd64a;
    transition: 0.3s;
    box-shadow: 0 -3px #b79b34 inset;
    text-decoration: none;
    
}
a.button:hover{
	background-color: #b79b34;
}
div ul li
{
	padding-top: 6%;
	
}
