	body {
		background-color:#27D3BE ;
        font-family: Roboto;
        font-weight: 300;
        width:100%;
	}
	h1 {
		font-family: "Roboto Condensed";
		font-size: 5em;
		text-align: center;
		position: static;
        color:#27D3BE ;
	}
	marquee {
		font-family: "Roboto Condensed";
		font-weight: 400;
		font-size: 24px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		position: absolute;
		background-color: gray;
		height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#navbar {
		position: absolute;
		background-color: #25547B;
        margin-left:10%; 
        margin-top: 3%;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        list-style-type: none;
        width: 18%;
        min-height: 15%;
    }
    #navbar li {
        padding-bottom: 5px;     
    }
    #navbar a {
        background-color: #949494;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        font-weight: 500;
        display: block;
        text-align: center;
        font-size: 18px;
    }
    #navbar a:hover {
     background-color: #666;
    }
    #navbar_head
    {
    	text-align: center;
    	font-weight: bold;
    	color: white;
    	margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 30px;
    }
    #panel
    {
    	position: absolute;
    	background-color: #25547B;
    	margin-left: 29%;
    	margin-top: 3%;
    	min-height: 80%;
    	width:50%;
    }
    #Right{
    	position: absolute;
    	padding-top: 5px;
    	margin-left: 79.5%;
    	margin-top: 3%;
    	background-color:#25547B; 
    	width: 10.5%;
    	min-height: 23%;
    	text-align: center;
    	color: white;
    }